@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

header {
  margin: 0;
  padding: 0;
  background-color: hsl(56, 76%, 76%);
}
body {
  margin: 0;
  padding: 0;
  color: hsl(56, 76%, 76%);
  font-family: 'DM Sans', sans-serif;
  background-color: hsl(247, 66%, 18%);
}
.container {
  transition: 0.8s ease-in-out 0s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 1.5rem 0px;
  position: relative;
  width: 100vw;
}

.container aside img {
  border-radius: 50%;
  display: flex;
  width: 20rem;
  height: 20rem;
}
.container h1 {
  font-size: 4rem;
  text-transform: uppercase;
}

.container h2 {
  margin-bottom: 5rem;
  letter-spacing: 0.5rem;
}

.container h3 {
  font-size: 4rem;
}

.btn button {
  background-color: hsl(56, 76%, 76%);
}

.btn a {
  text-decoration: none;
}

footer {
  margin: 0;
  padding: 0;
  background-color: hsl(56, 76%, 76%);
  stop-color: hsl(247, 66%, 18%);
}
